<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'flight:index' %}">首页</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="top1.html">top1.html</a>
        </li>
        <li>
          <a href="top2.html">top2.html</a>
        </li>
        <li>
          <a href="top3.html">top3.html</a>
        </li>
        <li>
          <a href="https://github.com/shihao316558512/bootstrap" target="_blank">
            <i class="fa fa-download fa-fw"></i>&nbsp;原码下载</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i>&nbsp;{{name}}&nbsp;
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="top-right1.html">top-right1.html</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="top-right2.html">top-right2.html</a>
            </li>
            <li class="divider"></li>
            <li>
              <a herf="javascript:void(0)" style="cursor:pointer" class="logout">
                <i class="fa fa-sign-out fa-fw"></i>&nbsp;<b>退出账号</b></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>