<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'flight:index' %}">
        <i class="fa fa-fighter-jet" aria-hidden="true"></i> &nbsp; 机票预订</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'flight:check' %}">
              <i class="fa fa-book" aria-hidden="true"></i> &nbsp;已订机票查询&nbsp;
          </a>
        </li>
        <li>
          <a href="{% url 'flight:update' %}">
              <i class="fa fa-cog" aria-hidden="true"></i> &nbsp;个人信息修改&nbsp;
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-user fa-fw"></i>&nbsp;欢迎您, {{name}}&nbsp;
          </a>
        </li>
        <li>
          <a herf="javascript:void(0)" style="cursor:pointer" class="logout">
            <i class="fa fa-sign-out fa-fw"></i>&nbsp;
            <b>退出账号</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>