body {
    background-color: #F7F7F7;
}
.datepicker { margin-top: 70px; }
.myall{
    margin-top: 70px;
}
.search-content{
    background-color: #ffffff;
}
.price{
    font-size: 30px;
    display: inline-block;
    margin-top: 30px;
}
label{
    margin-top:10px;
}
.rmb {
    line-height: 22px;
    font-size: 15px;
    vertical-align: top;
}
.number{
    color: #FF6600;
}
.count{
    font-size:15px;
    top:0px;
    left: 10px;
    position: absolute;
}
.count-num{
    font-size:15px;
    position: absolute;
    left: 30px;
    top:25px;
}
.arrow{
    background: url("../images/flight_arrow.png") no-repeat center;
    width: 180px;
    height: 40px;
    position: absolute;
    left:-85px;
    top: 24px;
}
.flight-company{
    display: inline;
}
.flight-id{
    font-weight: 600; 
    display: inline;
}
.flight-info{
    margin-top:28px;
}

.box button {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #28a4c9;
    color: #fff;
    background-color: #5bc0de;
    margin: 20px 20px 0 0;
}
.box{
    text-align: right;
    margin-top: 10px;
    margin-right: -20px;
}
.one-key{
    margin-top: 15px;
}
.info, .page{
    display: inline-block;
}
